.sub-gallery{

  display: flex;

  h4{

    text-transform: uppercase;
    font-family: var(--ff-title-primary);
    font-size: var(--fz-h4);
    line-height: var(--lh-extra-thin);


  }

  h4, .thumb{

    width: 25%;
    padding: 30px;

  }

}